# unnamed section of generic options
default_md = md5

# default section for "req" command options
[req]
distinguished_name = %CN

[%CN]

# Minimum of 4 bytes are needed for common name
commonName         = Common Name
commonName_default = %CN CA

# ISO2 country code only
countryName         = Country Name
countryName_default = %COUNTRY

# State is optional, no minimum limit
stateOrProvinceName         = State
stateOrProvinceName_default = %STATE

# City is required
localityName         = City
localityName_default = %CITY

